$background-color: #fff;
$text-color: #45484d;

$h1-font-size-regular: 32pt;
$h1-font-size-small: 18pt;
$h2-font-size-regular: 14pt;
$h2-font-size-small: 12pt;
$text-font-size-regular: 14pt;
$text-font-size-small: 13pt;

$social-icon-dimen-regular: 48px;
$social-icon-dimen-small: 32px;

@import 'animations';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url('../fonts/opensans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('../fonts/opensans-semibold.ttf') format('truetype');
}

html {
   scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-color;
  color: $text-color;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image-wrapper {
  width: 50%;
  height: 100vh;
  background-image: url(../henningdodenhof.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.arrow-down {
  align-self: flex-end;
  margin-bottom: 32px;
  width: 32px;
  height: 32px;
  animation: arrow-highlight 2s infinite;
  svg {
    fill: #fff;
  }
  display: none;
}

.content-wrapper {
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.content {
  padding: 0 10%;
  max-width: 600px;
  margin: auto 0;
  h1 {
    font-size: $h1-font-size-regular;
    font-weight: 600;
    margin: 0 0 8px 0;
  }
  h2 {
    font-size: $h2-font-size-regular;
    font-weight: 400;
    margin: 0;
  }
}

.intro {
  margin-bottom: 64px;
}

.links {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-right: 16px;
    margin-bottom: 16px;
    float: left;
    svg {
      width: $social-icon-dimen-regular;
      height: $social-icon-dimen-regular;
      fill: #999;
      transition-duration: 0.5s;
      &:hover {
        transition-duration: 0.25s;
      }
      &#ic-github:hover {
        fill: #24292e;
      }
      &#ic-twitter:hover {
        fill: #1da1f2;
      }
      &#ic-xing:hover {
        fill: #009090;
      }
      &#ic-linkedin:hover {
        fill: #0077b5;
      }
      &#ic-stackoverflow:hover {
        fill: #f48024;
      }
      &#ic-blog:hover {
        fill: #141414;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 900px) {
  .wrapper {
    height: auto;
    flex-wrap: wrap;
  }
  .image-wrapper {
    width: 100%;
  }
  .arrow-down {
    display: block;
  }
  .content-wrapper {
    width: 100%;
    height: auto;
    order: 1;
  }
}

@media (max-width: 600px) {
  .image-wrapper {
    height: 100vh;
  }
  .arrow-down {
    display: none;
  }
  .content-wrapper {
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(#00000000 50%, #000000BB 80%);
  }  
  .content {
    margin: 0 0 24px 0;
    color: #fff;
    h1 {
      font-size: $h1-font-size-small;
    }
    h2 {
      font-size: $h2-font-size-small;
    }
  }
  .intro {
    margin-bottom: 32px;
  }
  .links li {
    margin-right: 12px;
    margin-bottom: 8px;
    svg {
      width: $social-icon-dimen-small;
      height: $social-icon-dimen-small;
      fill: #fff;
      &:hover {
        fill: #fff !important;
      }
    }
  }
}
